
@model C_18_01_Capstone.Web.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<p>Status code: @Model.StatusCode</p>
<p>Message: @Model.Message </p>

