<connectionStrings>
  <add name="SocialNetworkContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SocialNetwork;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
       providerName="System.Data.SqlClient" />
</connectionStrings>